<div class="row">
    
    <!-- Sidebar -->
    <div class="col-xs-2">
        <!-- Polling Frequency -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Polling Frequency</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input id="timeLength" type="text" value="1" class="form-control">
                    <div class="input-group-btn">
                        <button id="timeFormat" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seconds <span class="caret"></span></button>
                        <ul id="timeFormatList" class="dropdown-menu dropdown-menu-right">
                            <li id="Milliseconds"><a href="#">Milliseconds</a></li>
                            <li id="Seconds"><a href="#">Seconds</a></li>
                            <li id="Minutes"><a href="#">Minutes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exchanges -->
        <!-- TODO: Implement more exchanges and make this do things -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Exchanges</h3>
            </div>
            <div class="panel-body">
                <input id="bittrexCheck" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="bittrexCheck">Bittrex</label><br />
                <input id="liquiCheck" class="checkbox-inline" type="checkbox" disabled> <label class="label label-default" for="liquiCheck"><strike>Liqui</strike></label><br />
                <input id="hitBTCCheck" class="checkbox-inline" type="checkbox" disabled> <label class="label label-default" for="hitBTCCheck"><strike>HitBTC</strike></label><br />
            </div>
        </div>

        <!-- Base Currencies -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Base Currencies</h3>
            </div>
            <div class="panel-body">
                <input id="BTCPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="BTCPairs">BTC</label><br />
                <input id="USDTPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="USDTPairs">USDT</label><br />
                <input id="ETHPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="ETHPairs">ETH</label><br />
            </div>
        </div>

        <!-- Coin Filters (Min price, volume) -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">% Price Change</h3>
            </div>
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

        <!-- % Price Change -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">% Price Change</h3>
            </div>
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

        <!-- % Volume Change -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">% Volume Change</h3>
            </div>
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>

    <!-- Tables -->
    <div class="col-xs-10">
        <h2 style="padding-top:0px;">Pairs</h2>
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Crypto Currency</th>
                    <th>Price</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody id="Results"></tbody>
        </table>
    </div>
</div>