<div class="row">
    <h2>BTC Pairs</h2>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Crypto Currency</th>
                <th>Price (BTC)</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody id="BTCResults"></tbody>
    </table>

    <h2>USDT Pairs</h2>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Crypto Currency</th>
                <th>Price (USDT)</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody id="USDTResults"></tbody>
    </table>

    <h2>ETH Pairs</h2>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Crypto Currency</th>
                <th>Price (ETH)</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody id="ETHResults"></tbody>
    </table>
</div>