<div class="row">
    
    <!-- Sidebar -->
    <div class="col-xs-2">
        <!-- Polling Frequency -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Polling Frequency</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input id="timeLength" type="text" value="1" class="form-control">
                    <div class="input-group-btn">
                        <button id="timeFormat" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seconds <span class="caret"></span></button>
                        <ul id="timeFormatList" class="dropdown-menu dropdown-menu-right">
                            <li id="Milliseconds"><a href="#">Milliseconds</a></li>
                            <li id="Seconds"><a href="#">Seconds</a></li>
                            <li id="Minutes"><a href="#">Minutes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exchanges -->
        <!-- TODO: Implement more exchanges and make this do things -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Exchanges</h3>
            </div>
            <div class="panel-body">
                <input id="bittrexCheck" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="bittrexCheck">Bittrex</label><br />
                <input id="liquiCheck" class="checkbox-inline" type="checkbox" disabled> <label class="label label-default" for="liquiCheck"><strike>Liqui</strike></label><br />
                <input id="hitBTCCheck" class="checkbox-inline" type="checkbox" disabled> <label class="label label-default" for="hitBTCCheck"><strike>HitBTC</strike></label><br />
            </div>
        </div>

        <!-- Base Currencies -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Base Currencies</h3>
            </div>
            <div class="panel-body">
                <input id="BTCPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="BTCPairs">BTC</label><br />
                <input id="USDTPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="USDTPairs">USDT</label><br />
                <input id="ETHPairs" class="checkbox-inline" type="checkbox" checked> <label class="label label-default" for="ETHPairs">ETH</label><br />
            </div>
        </div>

        <!-- Coin Filters (Min/Max price, volume) -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                Price
                <div class="input-group">
                    <input type="text" id="minPrice" placeholder="Min Price" class="form-control" />
                    <input type="text" id="maxPrice" placeholder="Max Price" class="form-control" style="margin-left: 3%;"/>
                </div>

                Volume
                <div class="input-group">
                    <input type="text" id="minVolume" placeholder="Min Volume" class="form-control" />
                    <input type="text" id="maxVolume" placeholder="Max Volume" class="form-control" style="margin-left: 3%;"/>
                </div>
            </div>
        </div>

        <!-- % Growth --> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Growth</h3>
            </div>
            <div class="panel-body">
                Price Change<br />
                <div class="input-group spinner1" >
                    <input type="text" id="priceChange" placeholder="Min %" class="form-control" />
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                    </div>

                    <input id="pTimeLength" type="text" value="5" class="form-control" style="margin-left: 10%;">
                    <div class="input-group-btn">
                        <button id="pTimeFormat" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Minutes <span class="caret"></span></button>
                        <ul id="pTimeFormatList" class="dropdown-menu dropdown-menu-right">
                            <li id="Seconds"><a href="#">Seconds</a></li>
                            <li id="Minutes"><a href="#">Minutes</a></li>
                            <li id="Hours"><a href="#">Hours</a></li>
                        </ul>
                    </div>
                </div>

                <br />
                Volume Change<br />
                <div class="input-group spinner2">
                    <input type="text" id="volumeChange" placeholder="Min %" class="form-control" />
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                    </div>

                    <input id="vTimeLength" type="text" value="5" class="form-control" style="margin-left: 10%;">
                    <div class="input-group-btn">
                        <button id="vTimeFormat" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Minutes <span class="caret"></span></button>
                        <ul id="vTimeFormatList" class="dropdown-menu dropdown-menu-right">
                            <li id="Seconds"><a href="#">Seconds</a></li>
                            <li id="Minutes"><a href="#">Minutes</a></li>
                            <li id="Hours"><a href="#">Hours</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tables -->
    <div class="col-xs-9">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Coin Pair</th>
                    <th>Price</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody id="Results"></tbody>
        </table>
    </div>
</div>