body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 100%;
    padding-left: 50px;
}

footer{
    padding-left: 50px;
}

.coinFilter {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 80%;
    margin-bottom: 5px;
}

#minPrice, #maxPrice, #minVolume, #maxVolume {
    width: 50%; 
    margin-left: 5px;
    margin-bottom: 5px;
}